/*
NOTES 

* 2025_0110: Added theming for UW-style presentation
*/

.reveal-viewport {

}

.reveal .slides {
  width: 100% !important;
}

.reveal .slide-logo {
  height: 90px !important;
  top: 0px  !important;
  right: 10px !important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-weight: bold !important;
  font-size: 25px !important;
}

/* 
body {
  background-image: url('https://github.com/jjcurtin/slide_decks/blob/main/images/uwlogo_right.png?raw=true') !important;
  background-repeat: no-repeat !important;
  background-position: right top !important;
  background-size: 5vw !important;
  } 
*/

body {
border-right: 4vw solid #c5050c;
}  

.reveal strong, .reveal b {
    font-weight: 900 !important;
}

#title-slide .slide-background-content {
  background-image: url("https://raw.githubusercontent.com/jjcurtin/slide_decks/refs/heads/main/images/title_slide.png") !important;
  overflow: visible !important;
  background-size: 100vw !important;
}


#title-slide {
    text-align: left;
    top: 40px !important;
    right: 10px !important;
    color: white !important;

}


.reveal .quarto-title-block .quarto-title-authors {
    justify-content: left !important;
    color: white !important;
}


.reveal .quarto-title-block .quarto-title-authors .quarto-title-author .quarto-title-author-name {
    text-align: left;
    color: white !important;
}



.reveal .footer{
color: black;
text-align: right !important;
width: 95% !important;
}


.reveal h1 {
    font-size: 60px !important;
    color: black;
    text-align: left;
    vertical-align: top;
    margin-bottom: 20px;
    font-weight:bold !important;
    }



h1.title  {
  color: white !important;
}


.reveal h1::after {
  content: "";
  height: .15em;
  width: .8em;
  display: block;
  background-color: #c5050c;
}

.reveal h2 {
 color: #c5050c !important;
 font-weight:bold !important;
 font-size: 40px !important;
}

.reveal h2::after {
  content: "";
  height: .15em;
  width: .8em;
  display: block;
  background-color: #c5050c;
}
  
.reveal h3 {
 color: black !important;
 font-weight:bold !important;
 font-size: 40px !important;
 }  
  
    
.reveal ul {
    list-style-type: "\25A1   " !important;
    padding-inline-start: 30px;
}

.reveal ol {
    padding-inline-start: 30px;
}
.reveal ul ul {
    list-style-type: square !important;
}


.reveal .slide ul ul li {
    margin-top: 0px !important; 
    margin-bottom: 0px !important;
}


.reveal .slide ul, .reveal .slide ol {
    margin-bottom: .5em !important;
}


.reveal blockquote {
margin: var(--r-block-margin) 5%;

}


.reveal .slides section .fragment.visible {
color:gray;
}


.reveal .slides section .fragment.visible.current-fragment {
color:black;
}


.list-gray {
color:gray !important;
}

.centered {
text-align:center;
}

.smaller {
font-size: 0.7em !important;
}

.medium {
font-size: 0.85em !important;
}


.red {
  color: red !important;
}

.yellowb {
  background-color: yellow !important;
}

.yellow {
  color: yellow !important;
}


.green {
  color: green !important;
}

.blue {
  color: blue !important;
}

.uwred {
  color: #c5050c !important;
}

.gray {
  color:gray !important; 
}

.reveal .cell-output pre code {
  background-color: honeydew !important;
  border-radius: 4px;
}

/* USE THIS IN QMD FOR MANUAL*/
/*::::: {.absolute left="0%" bottom="0%" width="300px" height="auto"}*/
/*::::: {style="font-size: 75%;"}*/
.callout-title p strong {
font-size: 75% !important;
}

.callout-content p {
font-size: 75% !important;
}

.callout {
position: absolute;
left: 0%;
bottom: 0%; 
width: 300px;
height: auto;
}

figcaption {
display: none !important;
}

.rect_outline {
  border: 5px solid;
  border-color: red;
  opacity: .5;
  width: 100px; 
  height: 100px; 
}

.circ_outline {
  border: 5px solid;
  border-color: red;
  opacity: .5;
  
  border-radius: 50%;
  height: 100px;   
  width: 100px;
}